.second-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: whitesmoke;
}

.second-content section {
  margin: 3em 0em;
}

.second-content .MuiTypography-h4 {
  text-align: center;
  margin-bottom: 1em;
}

.second-content .MuiTypography-root .MuiSvgIcon-root {
  vertical-align: text-top;
}

.second-content .MuiContainer-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.second-content .MuiCard-root {
  margin-bottom: 1.5em;
}

.second-content .MuiButtonBase-root {
  margin-left: 0px !important;
}

.second-content img {
  background-size: contain;
}

.second-content .MuiCardMedia-img {
  cursor: pointer;
}