.second-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: whitesmoke;
}

.second-content section {
  margin: 3em 0em;
}

.second-content .MuiTypography-h4 {
  text-align: center;
  margin-bottom: 1em;
}

.second-content .MuiTypography-root .MuiSvgIcon-root {
  vertical-align: text-top;
}

.second-content .MuiContainer-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.second-content .MuiContainer-root .MuiCard-root {
  margin: 0.5em;
  padding: 1.5em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.second-content .MuiContainer-root .MuiCard-root .MuiPaper-root {
  background-color: #173a5e;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}

.second-content .MuiContainer-root .MuiCard-root .MuiSvgIcon-root{
  color: whitesmoke;
  font-size: 50px;
}

.second-content .chart-container {
  margin-top: 1em;
  min-height: 400px;
  min-width: 400px;
  max-width: 600px;
}

@media screen and (max-width: 610px) {
  .second-content .chart-container {
    min-width: 300px;
    max-width: 400px;
  }
}