.app {
  display: flex;
  flex-direction: column;
}

.top-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

.canvas {
  position: absolute !important;
  display: flex;
  flex: 1;
  height: 100vh !important;
  width: 100% !important;
  background-color: #1b1b1b;
}

.content-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.content-container div {
  z-index: 1;
}

.content-container h1 {
  color: white;
  margin-bottom: 0px;
  z-index: 1;
  font-size: xx-large;
}

.content-container h3 {
  display: flex;
  color: white;
  z-index: 1;
  margin-bottom: 0px;
}

.content-container p {
  color: white;
  text-align: left;
}


.article {
  display: flex;
  flex-direction: column;
}

/* .about-me-section {
  
} */